{% extends 'base.html' %}
{% load static %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="auth-container">
    <div class="logo">
        <img src="{% static 'images/logo.png' %}" alt="Logo" class="logo-image">
    </div>
    
    {% if messages %}
        {% for message in messages %}
            <div class="message {% if message.tags %}{{ message.tags }}{% endif %}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    
    <form method="post">
        {% csrf_token %}
        
        <div class="form-group">
            <input type="email" name="email" placeholder="Email" required>
        </div>
        
        <div class="form-group">
            <input type="password" name="password" placeholder="Create Password" required>
        </div>
        
        <div class="password-requirements">
            <ul>
                <li>Your password can't be too similar to your other personal information.</li>
                <li>Your password must contain at least 8 characters.</li>
                <li>Your password can't be a commonly used password.</li>
                <li>Your password can't be entirely numeric.</li>
            </ul>
        </div>
        
        <div class="form-group">
            <input type="password" name="password2" placeholder="Repeat Password" required>
        </div>
        
        <div class="captcha-container">
            <div class="g-recaptcha" data-sitekey="{{ recaptcha_site_key }}"></div>
        </div>
        
        <div class="form-group">
            <button type="submit" class="btn">Ready</button>
        </div>
    </form>
    
    <div class="links">
        <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
    </div>
</div>
{% endblock %}

{% block extra_css %}
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}
